/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  inline-size: var(--main-width);
  margin-left: auto;
  margin-right: auto;
  font-family: var(--font-family-main), sans-serif;
  font-variation-settings: 'wght' var(--font-weight-main);
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  padding: var(--padding-header);
  margin-block: 100px;
  border: 2px solid #000;
  text-align: center;
  background-color: #fff;
  font-family: var(--font-family-accent), sans-serif;
}

.header-title {
  font-size: var(--header-title-size);
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 400;
}

.header-text {
  font-size: var(--header-text-size);
  text-transform: uppercase;
}

.card {
  background-color: #fff;
  border: 2px solid #000;
  margin-bottom: 50px;
}

.card-title {
  font-variation-settings: 'wght' var(--font-weight-accent);
  font-size: var(--card-font-size);
  padding: 4px 10px;
}

.card-text {
  font-weight: var(--font-weight-main);
  font-size: var(--card-font-size);
  padding: var(--main-gap);
  line-height: 22px
}

.card-text:not(:first-of-type) {
    padding-top: 0;
}

.card-image {
  display: block;
  width: 100%;
  block-size: 696px;
}

.card__like_block {
  display: flex;
  justify-content: end;
  padding: 0 var(--main-gap) var(--main-gap) 0;
}

.card__icon-button {
  border: none;
  background-color: transparent;
  max-block-size: 38px;
}

.card__like-button {
  font-size: var(--button-font-size);
  background-color: transparent;
  border: 2px solid var(--button-like-color);
  min-block-size: 38px;
  min-inline-size: 130px;
  height: min-content;
}

.button__text {
  font-family: var(--font-family-accent), sans-serif;
  font-size: var(--button-font-size);
}

.card-image-container {
  position: relative;
}

.card-image-label {
  font-family: var(--font-family-accent);
  font-size: var(--button-font-size);
  position: absolute;
  opacity: 0.5;
  top: var(--main-gap);
  right: var(--main-gap);
  mix-blend-mode: hard-light;
  text-transform: uppercase;
  text-shadow: 
    -1px 0px var(--label-shadow-color),
    0 1px var(--label-shadow-color), 
    1px 0 var(--label-shadow-color), 
    0 -1px var(--label-shadow-color);
}

@supports ((text-stroke: 1px var(--label-shadow-color)) or (-webkit-text-stroke: 1px var(--label-shadow-color))) {
  .card-image-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--label-shadow-color);
    text-stroke: 1px var(--label-shadow-color);
  }
}

.save__button {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  gap: 9px;

}

.save__floppy-svg {
  width: 21px;
  height: 21px;
}